@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #243e63;
}

.body {
    max-width: 100vw;
}

h1 {
    font-size: 48px;
    color: #1a202c;
    line-height: 1.25;
    }

p {
    font-size: 18px;
    line-height: 1.5;
    color: #7c8ba1;
}

.container {
    padding: 96px 0;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

img {
  width: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.purple {
    color: #6415ff;
}

.btn {
    background-color: #6415ff;
    color:#fff;
    border-radius: 9999px;
    border: none;
    transition: all 300ms ease;
    cursor: pointer;
}

.btn:hover {
  background-color:rgb(60, 13, 153);
}

/* 

NAVBAR 

*/

section {
  padding: 0 32px;
}

nav {
  padding-top: 32px;
  display: flex;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding-bottom: 4px;
}

.nav__logo--img {
  height: 40px;
  width: 40px;
}

.nav__logo--title {
  font-weight: 900;
  font-size: 24px;
  margin-left: 12px;
  letter-spacing: 0.6px;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    margin: 0 24px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.3px;
    position: relative;
}

.nav__link--login {
    margin-left: 48px;
}

.nav__link--primary {
    padding: 10px 32px;
}

.nav__link::after {
    content: "";
    position: absolute;
    background-color: #6415ff;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 300ms ease;
}

.nav__link:hover::after{
    opacity: 1;
    transform: scale(1);
}

.nav__link--primary::after {
    width: 0;
    height: 0;
}

/* 

HEADER

*/

.header__description {
    width: 40%;
}

.header__img--wrapper {
    width: calc(100% - 40%);
}

.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img {
    max-width: 768px;
}

.header__description--para {
    margin: 32px 0;
    /* color: #242424; preferred no black */
}


.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.header__email--input {
    color: rgb(36, 62, 99);
    padding: 20px 192px 20px 32px;
    border: 2px solid rgb(229, 231, 235);
    border-radius: 500px;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index:1;
}

.header__email--input::placeholder {
    color: rgba(160, 174, 192);
}

.header__email--input:hover {
    border-color: rgba(160, 174, 192);
}

.header__email--input:focus {
    outline: none;
    border-color: rgb(100, 21, 255);
}

.header__email--btn {
    position: absolute;
    right: 8px;
    top: 8px;
    bottom: 8px;
    width: 160px;
    border-radius: 500px;
    font-size: 16px;
    font-weight: 700;
    z-index:2;
}

.header__customers--title {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
}

.header__customers {
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
}
