@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #243e63;
}

body {
  max-width: 100vw;
}

h1 {
  font-size: 48px;
  color: #1a202c;
  line-height: 1.25;
}

p {
  font-size: 18px;
  line-height: 1.5;
  color: #7c8ba1;
}

.container {
  padding: 96px 0;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.row__narrow {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

img {
  width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.purple {
  color: #6415ff;
}

.btn {
  background-color: #6415ff;
  color: #fff;
  padding: 12px 32px;
  font-size: 14px;
  border-radius: 9999px;
  border: none;
  font-weight: 600;
  transition: all 300ms ease;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(60, 13, 153);
}

/* 

NAVBAR 

*/

section {
  padding: 0 32px;
}

nav {
  padding-top: 32px;
  display: flex;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding-bottom: 4px;
}

.nav__logo--img {
  height: 40px;
  width: 40px;
}

.nav__logo--title {
  font-weight: 900;
  font-size: 24px;
  margin-left: 12px;
  letter-spacing: 0.3px;
}

.nav__links {
  display: flex;
  align-items: center;
}

.nav__link {
  margin: 0 24px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.3px;
  position: relative;
}

.nav__link--login {
  margin-left: 48px;
}

.nav__link--primary {
  margin: 0 24px;
}

.nav__link::after {
  content: "";
  position: absolute;
  background-color: #6415ff;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 300ms ease;
}

.nav__link:hover::after {
  opacity: 1;
  transform: scale(1);
}

.nav__link--primary::after {
  width: 0;
  height: 0;
}

/* 

HEADER

*/

.header__description {
  width: 40%;
  /* max-width: 480px;  */
}

.header__img--wrapper {
  width: calc(100% - 40%);
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header img {
  max-width: 768px;
}

.header__description--para {
  margin: 32px 0;
  /* color: #242424; preferred no black */
}

.header__email {
  width: 100%;
  max-width: 448px;
  height: 68px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.header__email--input {
  color: rgb(36, 62, 99);
  padding: 20px 192px 20px 32px;
  border: 2px solid rgb(229, 231, 235);
  border-radius: 500px;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.header__email--input::placeholder {
  color: rgba(160, 174, 192);
}

.header__email--input:hover {
  border-color: rgba(160, 174, 192);
}

.header__email--input:focus {
  outline: none;
  border-color: rgb(100, 21, 255);
}

.header__email--btn {
  position: absolute;
  right: 8px;
  top: 8px;
  bottom: 8px;
  width: 160px;
  border-radius: 500px;
  font-size: 16px;
  font-weight: 700;
  z-index: 2;
}

.header__customers--title {
  margin-top: 80px;
  color: #a0aec0;
  font-size: 12px;
  font-weight: 700;
}

.header__customers {
  margin-top: 16px;
  padding-right: 128px;
  opacity: 0.5;
}

/* 

MAIN SECTIONS

*/

.section__tag {
  color: #6415ff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.6px;
}

.section__title {
  font-size: 48px;
  font-weight: 900;
  color: rgb(36, 62, 99);
  line-height: 1.5;
  margin: 16px 0;
  letter-spacing: 0.025em;
}

.section__para {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
}

.row--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.w-50 {
  width: 50%;
}

/* 

FEATURES

*/

#features .row__narrow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#features .section__para {
  max-width: 576px;
  text-align: center;
}

.features {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.feature {
  width: calc(100% / 3);
}

.feature__row {
  display: flex;
  align-items: flex-start;
  padding: 32px 24px;
}

.feature__img {
  width: 24px;
  height: 24px;
}

.feature__img--wrapper {
  display: flex;
  padding: 20px;
  border: 1px solid #e5e7eb;
  border-radius: 500px;
}

.feature__text {
  margin-top: 8px;
  margin-left: 16px;
}

.feature__para {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
}

/* 

QUALITY

*/

.quality__description {
    max-width: 480px;
    margin-right: 64px;
}

#quality .section__title {
  line-height: 1.25;
}

#quality .btn {
  margin-top: 32px;
}

.quality__img--wrapper {
  margin: 0 56px;
  position: relative;
}

.quality__grid {
  width: 80px;
  height: 80px;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: translate(50%, 50%);
  z-index: 1;
}

.quality__img {
  position: relative;
  z-index: 2;
}

/* 

STEPS

*/

.steps__description {
  padding: 32px 0;
  padding-left: 64px;
}

.step {
  display: flex;
  align-items: flex-start;
  margin: 32px;
}

.step__description {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin-left: 24px;
}

.step__number {
  color: #cbd5e0;
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
}

.step__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
}

.step__para {
  color: #718096;
  font-size: 14px;
  font-weight: 500;
  margin-top: 12px;
  line-height: 2;
}

.steps__img--wrapper {
  position: relative;
}

.steps__img {
  z-index: 1;
}

.steps__grid {
  position: absolute;
  width: 160px;
  height: 160px;
  opacity: 0.2;
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

/* 

VALUES

*/

.values__description {
  padding: 32px 64px 32px 0;
}

#values .section__title {
  margin-bottom: 32px;
}

.values__list {
  display: flex;
  margin-top: 32px;
}

.value {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.value__title {
  display: flex;
  align-items: center;
}

.value__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.value__icon i {
  font-size: 20px;
  text-align: center;
}

.value__icon--dollar {
  background-color: #9ae6b4;
}

.value__icon--dollar i {
  color: #335c4a;
}

.value__icon--suitcase {
  background-color: #feb2b2;
}

.value__icon--suitcase i {
  color: #a24232;
}

.value__name {
  margin-left: 12px;
  font-size: 20px;
  font-weight: bold;
}

.value__para {
  margin-top: 16px;
  line-height: 1.6;
  color: #718096;
}

#values .btn {
  margin-top: 48px;
}

/* 

PRICING

*/

#pricing .row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pricing .section__para {
  max-width: 576px;
  text-align: center;
}

.plans {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 32px;
  margin-top: 64px;
  position: relative;
}

.plan {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid rgb(226, 232, 240);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
  position: relative;
}

.plan__top,
.plan__middle,
.plan__bottom {
  padding: 32px 32px;
}

.plan__top {
  line-height: 1.6;
  font-weight: bold;
}

.plan__name,
.plan__price,
.plan__target {
    color: #1a202c;
    font-weight: bold;
}

.plan__name {
     font-size: 20px;
}

.plan__price {
    font-size: 48px;
    margin: 4px 0;
}

.plan__duration {
  color: #a0aec0;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.plan:nth-child(1) .plan__middle,
.plan:nth-child(3) .plan__middle {
  border-top: 2px solid rgb(229, 231, 235);
  border-bottom: 2px solid rgb(229, 231, 235);
}

.plan__target {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.025em;
}

.plan__feature {
  color: #718096;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.plan__button {
  padding: 16px 32px;
  width: 100%;
  transition: all 300ms ease;
}

.plan__button:hover {
  transform: translate(1px, -1px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.plan:nth-child(1) .plan__button {
  color: #f7fafc;
  background: linear-gradient(115deg, #38b2ac, #81e6d9);
}

.plan:nth-child(3) .plan__button {
  color: #f7fafc;
  background: linear-gradient(115deg, #f56565, #feb2b2);
}

.plan__stripe {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.plan:nth-child(1) .plan__stripe {
  background: linear-gradient(115deg, #38b2ac, #81e6d9);
}
.plan:nth-child(2) .plan__stripe {
  background: linear-gradient(135deg, #4c51bf, #667eea);
}
.plan:nth-child(3) .plan__stripe {
  background: linear-gradient(115deg, #f56565, #feb2b2);
}

/*  PRIMARY PLAN */

.plan--primary {
  background: linear-gradient(135deg, #4c51bf, #667eea);
  position: relative;
}

.plan--primary .plan__middle {
  border-top: 2px solid rgb(102, 126, 234);
  border-bottom: 2px solid rgb(102, 126, 234);
}

.plan--primary .plan__button {
  color: #6415ff;
  background-color: #f7fafc;
}

.plan--primary .plan__name,
.plan--primary .plan__price,
.plan--primary .plan__duration,
.plan--primary .plan__target,
.plan--primary .plan__feature {
  color: #f7fafc;
}

/* 

TESTIMONIALS

*/

.testimonials__description {
  display: flex;
  flex-direction: column;
  padding-left: 64px;
}

.testimonial {
  margin-top: 40px;
}

.testimonial__rating {
  margin-top: 4px;
}

.testimonial__rating i {
    color: rgba(246, 173, 85);
}

.testimonial__title {
  color: #4a5568;
  margin-top: 16px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.6;
}

.testimonial__para {
  color: #4a5568;
  font-size: 16px;
  font-weight: 500;
  margin-top: 16px;
  margin-bottom: 32px;
  line-height: 1.6;
}

.testimonial__bottom {
    display: flex;
    justify-content: space-between;
}

.testimonial__profile {
    display: flex;
    align-items: center;
}

.testimonial__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.testimonial__details {
    margin-left: 24px;
}

.testimonial__name {
    color: #4a5568;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.6;
}

.testimonial__role {
    color: #7c8ba1;
    font-weight: 500;
    line-height: 1.5;
}

.testimonial__details {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

.testimonial__buttons {
    display: flex;
    align-items: center;
}

.testimonial__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background:#edf2f7;
    padding: 16px;
    border-radius: 50%;
    margin: 0 12px;
    border: none;
    cursor: pointer;
    transition: all 300ms ease;
}

.testimonial__button i {
    color: #6415ff;
    font-size: 16px;
    text-align: center;
}

.testimonial__button:hover {
    background-color: rgb(229, 231, 235);
}

